.options, .--center {
	text-align: center;
}

.options > * {
	padding: 0 0.5rem;
}

.listing {
	border-bottom: var(--line-width) solid;
	padding: calc(0.5 * var(--one-line)) 0;
}

.listing h2 {
	margin: 0;
}

.listing h2 + p.subtitle {
	margin-top: 0;
}

.listing h2 > a {
	text-decoration: none;
}

.listing h2 > a:hover {
	text-decoration: underline;
}

.poem {
	text-align: center;
}

.poem pre {
	display: inline;
}

.poem p:first-child {
	display: inline-block;
}

.poem[data-align="left"]  p:first-child {
	text-align: left;
}

.poem[data-align="center"]  p:first-child {
	text-align: center;
}

.poem[data-align="right"]  p:first-child {
	text-align: right;
}

#typewriterFallback {
	position:absolute;
	left:-10000px;
	top:auto;
	width:1px;
	height:1px;
	overflow:hidden;
}

#typewriter::after {
	content: '_';
	width: 0;
	display: inline-block;
	animation: cursor-blink 1s infinite;
}

@keyframes cursor-blink {
	from {opacity: 1}
	to {opacity: 0}
}

.hidden {
	display: none
}
