{% extends "templates/layout.html" %}

{% block main %}
<p>Don't panic! Maybe look around and see if you can find the page you're looking for? There's a bunch of links both above and below this paragraph. If all else fails, <a href="/contact/" target="_blank">contact me</a> and I'll see if I can help you.</p>
<p>(Just make sure you have your towel with you so that you remain a hoopy frood.)</p>
{% endblock main %}
