{% extends "templates/layout.html" %}

{% block main %}
	<style>
		:root {
			--line-height: 1;
		}

		article {
			margin-top: 50vh;
			transform: translateY(-50%);
		}
	</style>
	<article class="--center">
		<p>tty1</p>
		<p>coming soon</p>
		<p class="options">
			<a href="/feed/">RSS</a>
			<a href="https://benjaminhollon.com/contact/">Contact</a>
		</p>
	</article>
{% endblock main %}
