<!DOCTYPE html>
<html data-font-family="monospace">
	<head>
		<meta charset="utf-8">
		<link rel="stylesheet" type="text/css" href="/assets/css/readable.css">
		<link rel="stylesheet" type="text/css" href="/assets/css/global.css">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="alternate" type="application/rss+xml" title="RSS" href="https://tty1.blog/feed/">
		<title>{{ title }}</title>
		<meta property="og:title" content="{{title}}">
		<meta property="og:type" content="website">
		{% if description %}
		<meta name="description" content="{{description}}">
		<meta property="og:description" content="{{description}}">
		{% endif %}
	</head>
	<body>
		<main>
			{% block main %}<p>This page has no content.</p>{% endblock main %}
		</main>
	</body>
</html>
